.show {
    opacity: 1;
    animation: show_item 1s ease-in forwards;
}
.hide {
    opacity: 0;
    /*transition: all 0.2s ease-in;*/
    animation: hide_item 1s ease-in forwards;
}


@keyframes show_item {
    0%{
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes hide_item {
    0%{
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

.fade-enter, .fade-appear {

}